$backgroundwhite:#ffffff;
$textgray: #ADB5BD;
$textblue: #2F55D4;
$textazure: #007BFF;
$textblackgray: #8492A6;
$textblack:#000000;
$bordergray:#ADB5BD;
$borderlightgray:#E9ECEF;
$borderblue:#2F55D4;
$backgroundlightazure:#F8F9FC;
$backgroundazure:#2F55D41A;
$widthlogo: 15%;
$backgroundblue:#2F55D4;
$backgrounddarkblue: #27314F;
$backgrounddarkgray: #3C4858;